@charset "UTF-8";
html,
body {
  font-family: "Onest", sans-serif;
  color: #fff;
  background: #000;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #fff;
  text-align: center;
  padding: 35px;
  background: linear-gradient(157deg, #086db6 0%, #449ad8 100%);
  border-radius: 110px;
  width: 100%;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover::after {
  opacity: 1;
}
.btn:hover::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(155deg, #348ecf 0%, #449ad8 100%); /* Целевой цвет */
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; /* Плавный переход для непрозрачности */
  border-radius: 110px;
}
.btn::before {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn span {
  position: relative;
  z-index: 1;
}

.btn--black {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #fff;
  border-radius: 110px;
  padding: 35px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  position: relative;
}
.btn--black::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.17);
  background-image: url("../images/icons/btn-bg.svg");
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 110px;
  width: 100%;
  height: 100vh;
  max-height: 87px;
  min-height: 43px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.btn--black:hover::before {
  background-image: url("../images/icons/btn-bg-hover.svg");
}

.title {
  font-weight: 700;
  font-size: 46px;
  line-height: 154%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(50%, #fff), to(#B9B9B9));
  background: linear-gradient(90deg, #BDBDBD 0%, #fff 50%, #B9B9B9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Druk Wide Cyr";
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.overlay {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(36.1399993896px);
          backdrop-filter: blur(36.1399993896px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
}

.overlay--show {
  display: block;
  overflow: hidden;
}

.overlay__inner {
  width: 100%;
  height: 100%;
  padding: 44px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay__row {
  margin-bottom: -30px;
}

.overlay__row-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overlay__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.overlay__nav-item:last-child {
  margin-bottom: 0px;
}

.overlay__nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  color: #fff;
  font-family: "Druk Wide Cyr";
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.overlay__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay__socials-item {
  margin-right: 10px;
}
.overlay__socials-item:last-child {
  margin-right: 0px;
}

.overlay__socials-link:first-child img {
  width: 33px;
  height: 33px;
}

.overlay__bottom-adress {
  margin-top: 10px;
}

.overlay__adress-title {
  font-weight: 500;
  font-size: 12px;
  line-height: normal;
  color: #fff;
  text-align: center;
}

.overlay__bottom-text {
  font-weight: 400;
  font-size: 12px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.8);
}

.header {
  position: relative;
  z-index: 1;
}
.header::before {
  content: "";
  background-image: url("../images/hero-bg.png");
  width: 1440px;
  height: 918px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  max-width: 838px;
  padding: 0px 20px;
  min-width: 300px;
}

.header__nav-item--logo {
  display: block !important;
}

.header__nav-item--mob {
  display: none;
}

.header__nav-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.header__nav-link span {
  font-weight: 500;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__nav-link--burger {
  font-weight: 500;
}

.header__nav-create {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.header__nav-create span {
  font-weight: 700;
}
.header__nav-create::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__nav-create:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__logo--mob {
  display: none;
  width: 88px;
  height: 28px;
}

.header__phone-icon {
  margin-top: 3px;
  margin-right: 5px;
}

.header__main-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  padding-bottom: 235px;
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 127%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#999), color-stop(50.86%, #fff), to(#999));
  background: linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Druk Wide Cyr";
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.header__main-text {
  font-weight: 300;
  font-size: 25px;
  line-height: 125%;
  color: #e8e6e6;
  text-align: center;
  max-width: 590px;
  margin-bottom: 35px;
}

.header__main-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  max-width: 584px;
  min-width: 300px;
}

.header__main-btn {
  margin-right: 30px;
}
.header__main-btn:last-child {
  margin-right: 0px;
}

.header__bottom-inner {
  padding-bottom: 150px;
}

.header__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__cards-item {
  padding: 30px 112px 147px 30px;
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: linear-gradient(356deg, rgba(26, 25, 25, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(166deg, rgba(13, 20, 27, 0) 0%, #0d141b 100%), linear-gradient(215deg, rgba(9, 130, 240, 0) 0%, rgba(0, 148, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 20px;
}
.header__cards-item:nth-child(1) {
  position: relative;
}
.header__cards-item:nth-child(1)::before {
  content: "";
  background-image: url("../images/hero-cards/hand.svg");
  background-repeat: no-repeat;
  width: 187px;
  height: 179px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.header__cards-item:nth-child(2) {
  position: relative;
  padding-right: 136px;
}
.header__cards-item:nth-child(2)::before {
  content: "";
  background-image: url("../images/hero-cards/star.svg");
  background-repeat: no-repeat;
  width: 173px;
  height: 200px;
  display: block;
  position: absolute;
  bottom: -20px;
  right: 0px;
}
.header__cards-item:nth-child(3) {
  position: relative;
  padding-right: 132px;
}
.header__cards-item:nth-child(3)::before {
  content: "";
  background-image: url("../images/hero-cards/planet.svg");
  background-repeat: no-repeat;
  width: 143px;
  height: 175px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.header__cards-item:nth-child(4) {
  position: relative;
  padding-right: 27px;
}
.header__cards-item:nth-child(4)::before {
  content: "";
  background-image: url("../images/hero-cards/person.svg");
  background-repeat: no-repeat;
  width: 194px;
  height: 202px;
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.header__card-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 4px;
  white-space: nowrap;
}

.header__card-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 127%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#BEBEBE), color-stop(50.86%, #fff), to(#C2C2C2));
  background: linear-gradient(90deg, #BEBEBE 0%, #fff 50.86%, #C2C2C2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Druk Wide Cyr";
  margin-bottom: 4px;
}

.header__card-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.7);
}

.create__inner {
  padding-bottom: 150px;
}

.create__title {
  background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(50.86%, #fff), to(#B9B9B9));
  background: linear-gradient(90deg, #BDBDBD 0%, #fff 50.86%, #B9B9B9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.create__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 42px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.create__content-item:nth-child(2) .create__item-title {
  margin-bottom: 12px;
}
.create__content-item:nth-child(3) .create__item-title {
  margin-bottom: 12px;
}

.create__item-wrapper {
  max-width: 361px;
  margin: 0 auto;
}

.create__content-img {
  width: 360px;
  border-radius: 20px;
  margin-bottom: -41px;
  position: relative;
  z-index: 2;
}

.create__item-descr {
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: linear-gradient(356deg, #1a1919 0%, #000 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 32px;
  padding-top: 64px;
  max-width: 360px;
}

.create__item-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#BEBEBE), color-stop(50.86%, #fff), to(#C2C2C2));
  background: linear-gradient(90deg, #BEBEBE 0%, #fff 50.86%, #C2C2C2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}

.create__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.7);
  width: 100vw;
  max-width: 316px;
  min-width: 200px;
}

.create__btn-box {
  width: 100vw;
  max-width: 680px;
  min-width: 300px;
  margin: 0 auto;
}

.create__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
}
.create__btn::before {
  content: "";
  background-image: url("../images/icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 59px;
  height: 59px;
  display: block;
  position: absolute;
  right: 15px;
  z-index: 1;
}

.advantages .container {
  max-width: 1440px;
  padding: 0px;
}

.container--second {
  max-width: 1160px !important;
}

.advantages__inner {
  padding: 0px 15px;
  padding-top: 76px;
  padding-bottom: 165px;
  z-index: 1;
  position: relative;
}
.advantages__inner::before {
  content: "";
  background-image: url("../images/advantages/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 2048px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  border-radius: 30px;
}

.advantages__title {
  max-width: 700px;
  margin-bottom: 36px;
  background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(50.86%, #fff), to(#CCCCCC));
  background: linear-gradient(90deg, #BDBDBD 0%, #fff 50.86%, #CCCCCC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 39px;
  margin-bottom: 40px;
}

.advantages__content-item {
  -ms-grid-column-align: center;
      justify-self: center;
}

.advantages__item-wrapper {
  background: linear-gradient(356deg, rgba(26, 25, 25, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(166deg, rgba(13, 20, 27, 0) 0%, #0d141b 100%);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 20px;
  padding: 25px;
  padding-right: 0px;
  width: 100vw;
  max-width: 360px;
  min-width: 250px;
  height: 206px;
}

.advantages__item-icon {
  margin-bottom: 15px;
}

.advantages__item-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 125%;
  color: #e8e6e6;
  max-width: 270px;
}
.advantages__item-text span {
  font-weight: 600;
}

.advantages__item-img {
  width: 361px;
  height: 206px;
}

.advantages__btn-box {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.advantages__carousel {
  position: relative;
}
.advantages__carousel::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 0px;
  display: block;
  position: absolute;
  left: 0;
  top: -35px;
}
.advantages__carousel::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 0px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -35px;
}

.advantages__carousel-img--mobile {
  display: none !important;
}

.fancybox__thumbs {
  display: none !important;
}

.gallery__modal {
  display: none;
  /* Скрываем галереи по умолчанию */
}

[data-fancybox] {
  display: block;
  /* Убедитесь, что ссылки отображаются */
}

.gallery__content-item a.active + .gallery__modal {
  display: block;
  /* Показываем галерею, соответствующую активной карточке */
}

.gallery__inner {
  position: relative;
  z-index: 1;
  padding-bottom: 150px;
}

.gallery__title {
  margin-bottom: 56px;
  background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(50.86%, #fff), to(#B9B9B9));
  background: linear-gradient(90deg, #BDBDBD 0%, #fff 50.86%, #B9B9B9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 24px;
}

.gallery__item-link .gallery__link-icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery__item-link:hover .gallery__link-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.gallery__item-wrapper {
  max-width: 271px;
  position: relative;
}

.gallery__item-img {
  position: absolute;
  top: 0px;
  z-index: -1;
}

.gallery__item-descr {
  width: 100vw;
  max-width: 271px;
  min-width: 250px;
  height: 100vh;
  max-height: 261px;
  min-width: 250px;
  padding: 15px 30px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery__item-descr .gallery__link-icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.gallery__item-descr:hover .gallery__link-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.gallery__item-date {
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 1;
}

.gallery__item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100vw;
  max-width: 240px;
  min-width: 150px;
}

.gallery__link-icon {
  position: absolute;
  right: 0px;
}

.gallery__btn-box {
  max-width: 680px;
  margin: 0px auto;
  margin-top: 60px;
}

.trust__inner {
  padding-bottom: 88px;
}

.trust__title {
  margin-bottom: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#BEBEBE), color-stop(50.86%, #fff), to(#BCBCBC));
  background: linear-gradient(90deg, #BEBEBE 0%, #fff 50.86%, #BCBCBC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trust__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  row-gap: 40px;
}

.trust__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: linear-gradient(360deg, #000 0%, #1a1919 100%), linear-gradient(356deg, #1a1919 0%, #000 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 124px;
  max-width: 254px;
  margin: 0 auto;
}

.footer {
  position: relative;
  z-index: 1;
}
.footer::before {
  content: "";
  background-image: url("../images/footer-bg.png");
  width: 1440px;
  height: 918px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 160px;
  width: 100vw;
  max-width: 1155px;
  min-width: 300px;
  margin-bottom: 136px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__contacts::after {
  content: "";
  width: 1px;
  height: 477px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  margin-left: 78px;
  margin-top: -15px;
}

.footer__contacts-title {
  margin-bottom: 48px;
  background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(50.86%, #fff), to(#B9B9B9));
  background: linear-gradient(90deg, #BDBDBD 0%, #fff 50.86%, #B9B9B9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__contacts-item {
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #c5c5c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 35px;
}
.footer__contacts-item span {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #fff;
}
.footer__contacts-item:nth-child(3) {
  margin-bottom: 30px;
}
.footer__contacts-item:last-child {
  margin-bottom: 0px;
}
.footer__contacts-item a {
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  color: #fff;
  margin-top: 11px;
}

.footer__social-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__social-item:hover img {
  fill: #DEE0E3;
}

.footer__social-link {
  margin-right: 10px;
}
.footer__social-link:last-child {
  margin-right: 0px;
}
.footer__social-link:hover svg path {
  fill: #DEE0E3;
}

.footer__map {
  width: 100vw;
  max-width: 647px;
  min-width: 300px;
  height: 438px;
  padding: 0px 20px;
}
.footer__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.footer__row {
  width: 100vw;
  max-width: 1155px;
  min-width: 300px;
  padding-bottom: 66px;
}

.footer__row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.footer__row-item:nth-child(2) .footer__row-link::after {
  display: none;
}

.footer__row-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.footer__row-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__row-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__row-link--mobile {
  display: none;
}

.footer__row-icon {
  margin-left: 8px;
}

.adress--mobile {
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  display: none;
}

@media (max-width: 1100px) {
  .header__cards-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 15px 1fr;
    -ms-grid-columns: 1fr 15px 1fr;
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 15px;
  }
  .gallery__content {
    -ms-grid-rows: 1fr 19px 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    row-gap: 19px;
  }
  .gallery__content-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advantages__inner::before {
    height: 2788px;
  }
  .gallery__title {
    margin-bottom: 26px;
  }
  .trust__content {
    -ms-grid-rows: (1fr)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  .footer__content {
    padding-top: 0px;
  }
}
@media (max-width: 900px) {
  .header__main-title {
    font-size: 46px;
  }
  .header__main-text {
    font-size: 21px;
  }
  .footer__contacts::after {
    margin-left: 30px;
  }
}
@media (max-width: 800px) {
  .title {
    text-align: center;
    font-size: 40px;
  }
  .create__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: scroll;
    margin-left: 25px;
  }
  .create__content-item {
    margin-right: 10px;
  }
  .create__content-item:last-child {
    margin-right: 0px;
  }
  /* Стилизация всей полосы прокрутки */
  ::-webkit-scrollbar-thumb {
    background: #666363;
    border-radius: 80px;
  }
  /* Стилизация области, по которой ползунок перемещается (track) */
  ::-webkit-scrollbar-track {
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 80px;
  }
  /* Стилизация кнопок в начале и конце скролл бара (может быть скрыто) */
  ::-webkit-scrollbar-button {
    display: none;
    /* Скрыть кнопки */
  }
  .advantages__inner::before {
    height: 2765px;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__contacts {
    width: 100%;
  }
  .footer__contacts::after {
    display: none;
  }
  .footer__contacts-title,
  .footer__social-item {
    display: none;
  }
  .footer__contacts-descr {
    width: 100%;
  }
  .footer__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }
  .footer__contacts-item {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
    font-size: 16px;
  }
  .footer__contacts-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__contacts-item:nth-child(2) span {
    margin-top: 4px;
  }
  .footer__contacts-item a {
    margin-top: 4px;
    font-size: 16px;
  }
  .hidden {
    display: none;
  }
  .adress--mobile {
    display: block;
    font-size: 14px !important;
    margin-top: 0px !important;
  }
  .footer__map {
    max-width: 790px;
    padding: 0px;
    padding-right: 20px;
  }
  .footer__row-link--hidden {
    display: none;
  }
  .footer__row-link--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__row-link--mobile::after {
    display: none;
  }
  .footer__row-link--mobile span {
    font-size: 14px;
  }
  .footer__row-link--mobile img {
    width: 107px;
    margin-bottom: 25px;
  }
  .footer__row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 90%;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 6px;
  }
  .footer__contacts-item--row {
    line-height: 90%;
  }
  .footer__nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 90%;
    color: #fff;
    margin-bottom: 6px;
  }
  .footer__nav-link:last-child {
    margin-bottom: 0px;
  }
  .footer__socials {
    margin-bottom: 15px;
  }
  .footer__row {
    padding-bottom: 46px;
  }
  .footer__row-list {
    padding-right: 35px;
    padding-left: 29px;
    min-width: 293px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__contacts-list {
    padding: 0px 30px;
  }
  .footer__mobile-mail {
    font-weight: 500;
    margin-bottom: 10px !important;
    line-height: 90%;
  }
  .footer__mobile-mail span {
    margin-top: 4px;
  }
  .footer__row-item:nth-child(2) {
    margin-right: 72px;
  }
  .footer__row-item:last-child {
    display: none;
  }
  .footer .container {
    padding: 0px;
  }
  .footer__map {
    padding: 0px;
  }
  .footer__map iframe {
    border-radius: 0px;
  }
  .footer__row-link--dev {
    margin-top: 14px;
    font-size: 14px !important;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}
@media (max-width: 750px) {
  .header__main-title {
    font-size: 26px;
    max-width: 370px;
  }
  .header__main-text {
    font-size: 16px;
    max-width: 381px;
  }
  .header__main-btn {
    padding: 20px;
    max-width: 210px;
  }
  .btn--black::before {
    height: 58px;
  }
  .header__main-btns {
    padding: 0px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__main-btn:first-child {
    margin-right: 6px;
  }
  .header__nav-create,
  .header__nav-link {
    font-size: 14px;
  }
  .advantages__inner {
    padding-bottom: 60px;
  }
  .advantages__inner::before {
    height: 3505px;
  }
}
@media (max-width: 610px) {
  .header__nav-item,
  .header__nav-item--mail {
    display: none;
  }
  .header__nav-item--mob {
    -webkit-transform: scale(1.45);
            transform: scale(1.45);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-item--mob .btn--black {
    display: block;
    padding: 10px 12px;
    font-size: 9px;
    line-height: 110%;
    height: 30px;
    margin-left: 6px;
  }
  .header__nav-item--mob .btn--black::before {
    height: 30px;
    min-height: auto;
  }
  .header__logo {
    display: none;
  }
  .header__logo--mob {
    display: block;
  }
  .header__cards-list {
    gap: 5px;
  }
  .header__cards-item {
    padding: 10px 15px 15px 10px;
    width: 100%;
    margin: 0 auto;
  }
  .header__card-text,
  .header__card-subtitle {
    font-size: 14px;
    max-width: 150px;
  }
  .header__card-text {
    margin-bottom: 1px;
  }
  .header__card-title {
    font-size: 18px;
    max-width: 150px;
    margin-bottom: 0px;
  }
  .header__cards-item:nth-child(1)::before {
    width: 67px;
    height: 60px;
    background-size: cover;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__cards-item:nth-child(2)::before {
    width: 48px;
    height: 50px;
    background-size: cover;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__cards-item:nth-child(3)::before {
    width: 43px;
    height: 51px;
    background-size: cover;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__cards-item:nth-child(4)::before {
    width: 52px;
    height: 56px;
    background-size: cover;
  }
  .gallery__content {
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(4, 1fr)/repeat(1, 1fr);
  }
  .gallery__content-item:nth-child(5) {
    display: none;
  }
  .gallery__content-item:nth-child(6) {
    display: none;
  }
  .gallery__content-item:nth-child(7) {
    display: none;
  }
  .gallery__content-item:nth-child(8) {
    display: none;
  }
  .trust__content {
    row-gap: 5px;
    -webkit-column-gap: 3px;
       -moz-column-gap: 3px;
            column-gap: 3px;
    max-width: 300px;
    margin: 0 auto;
  }
  .trust__inner {
    padding-bottom: 40px;
  }
  .trust__content-item:nth-child(1) img {
    width: 118px;
  }
  .trust__content-item:nth-child(2) img {
    width: 91px;
  }
  .trust__content-item:nth-child(3) img {
    width: 70px;
  }
  .trust__content-item:nth-child(4) img {
    width: 75px;
  }
  .trust__content-item:nth-child(5) img {
    width: 80px;
  }
  .trust__content-item:nth-child(6) img {
    width: 35px;
  }
  .trust__content-item:nth-child(7) img {
    width: 24px;
  }
  .trust__content-item:nth-child(8) img {
    width: 60px;
  }
  .trust__item-wrapper {
    max-width: 150px;
    height: 77px;
  }
  .footer::before {
    background-image: url("../images/footer-bg-mob.png");
    height: 646px;
  }
  .footer__map {
    height: 205px;
  }
  .footer__content {
    margin-bottom: 25px;
  }
}
@media (max-width: 505px) {
  .header__main-title {
    font-size: 20px;
    letter-spacing: -0.06em;
  }
  .header__main-text {
    font-size: 12px;
    max-width: 290px;
  }
  .header::before {
    content: "";
    background-image: url("../images/hero-mob-bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 551px;
    margin-top: 40px;
  }
  .btn,
  .btn--black {
    font-size: 11px;
    padding: 17px 33px;
  }
  .btn--black {
    padding: 17px;
  }
  .btn--black::before {
    height: 46px;
  }
  .header__nav-item--mob {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header__top-inner {
    padding-top: 34px;
  }
  .header__main-inner {
    padding-bottom: 223px;
    padding-top: 43px;
  }
  .header__main-title {
    margin-bottom: 17px;
  }
  .header__main-text {
    margin-bottom: 25px;
  }
  .header__bottom-inner {
    padding-bottom: 54px;
  }
  .header__cards-list {
    max-width: 300px;
    margin: 0 auto;
  }
  .header__cards-item {
    max-width: 150px;
    border-radius: 11px;
  }
  .header__cards-item:nth-child(2) {
    padding-right: 0px;
  }
  .header__cards-item:nth-child(3) {
    padding-right: 0px;
  }
  .header__card-text,
  .header__card-subtitle {
    font-size: 9px;
  }
  .header__card-title {
    font-size: 14px;
  }
  .header__main-btns {
    max-width: 244px;
  }
  .header__main-btn {
    font-size: 9px;
  }
  .header__main-btn:first-child {
    max-width: 111px;
  }
  .header__main-btn:last-child {
    max-width: 127px;
  }
  .title {
    font-size: 18px;
  }
  .create__title {
    margin-bottom: 27px;
  }
  .create .create__btn-box {
    display: none;
  }
  .create__inner {
    padding-bottom: 18px;
  }
  .create__item-title {
    font-size: 14px;
  }
  .create__item-text {
    font-size: 10px;
    max-width: 192px;
  }
  .create__item-descr {
    max-width: 239px;
  }
  .create__content-img {
    width: 239px;
  }
  .advantages__inner {
    padding-top: 60px;
    margin: 0px 10px;
  }
  .advantages__inner::before {
    background-image: url("../images/advantages/bg-mob.png");
    background-position: center 0;
  }
  .advantages__title {
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }
  .advantages__content-item {
    width: 100%;
  }
  .advantages__item-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    height: auto;
    margin: 0 auto;
  }
  .advantages__item-icon {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__content {
    row-gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 18px;
  }
  .advantages__content-item:nth-child(3) {
    display: none;
  }
  .advantages__content-item:nth-child(4) {
    display: none;
  }
  .advantages__item-text {
    font-size: 11px;
    max-width: 182px;
  }
  .advantages__item-icon {
    width: 23px;
    height: 23px;
    margin-bottom: 0px;
  }
  .advantages__content-item:nth-child(5) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .advantages__content-item:nth-child(6) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .advantages__content-item:nth-child(6) .advantages__item-text {
    max-width: 194px;
  }
  .br--none {
    display: none;
  }
  .weight--mobile {
    font-weight: 600px;
  }
  .advantages__btn-box {
    max-width: 360px;
    margin-bottom: 60px;
  }
  .create__btn::before {
    width: 27px;
    height: 27px;
  }
  .advantages__carousel::before {
    top: -10px;
  }
  .advantages__carousel::after {
    bottom: -10px;
  }
  .advantages__inner::before {
    height: 1927px;
  }
  .gallery__btn-box {
    max-width: 300px;
    margin-top: 20px;
  }
  .gallery__item-date {
    font-size: 11px;
  }
  .gallery__item-link {
    font-size: 12px;
  }
  .gallery__item-text {
    max-width: 180px;
  }
  .trust__title {
    margin-bottom: 26px;
  }
  .footer__contacts-item {
    font-size: 8px;
  }
  .footer__contacts-item span {
    font-size: 11px !important;
  }
  .footer__contacts-item a {
    font-size: 11px;
  }
  .footer__item-title {
    font-size: 9px;
  }
  .footer__row-link--mobile {
    font-size: 9px;
  }
  .footer__row-link--mobile span {
    font-size: 11px !important;
  }
  .footer__nav-link {
    font-size: 11px;
  }
  .footer__social-link svg {
    width: 26px;
    height: 26px;
  }
  .footer__row-link--dev {
    margin-top: 14px;
    font-size: 11px !important;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .footer__row-link {
    font-size: 8px;
  }
  .footer__row-item {
    margin-right: 20px;
    white-space: nowrap;
  }
  .footer__row-item:nth-child(2) {
    margin-right: 20px;
  }
  .footer__row-item:last-child {
    margin-right: 0px;
  }
  .gallery__inner {
    padding-bottom: 60px;
  }
  .advantages__carousel-img {
    display: none !important;
  }
  .advantages__carousel-img--mobile {
    display: block !important;
  }
}
@media (max-width: 350px) {
  .header__cards-item {
    max-width: 150px;
  }
}