@mixin text-style($fw, $fz, $lh, $color) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $color;
}
@mixin text-gradient($lg) {
  background: $lg;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin hover-color($color) {
  position: relative;
  transition: all .3s;

  &:hover{
    &::after{
      opacity: 1;
    }

    &::before{
      transform: rotate(45deg);
    }
    
  }

&::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color; /* Целевой цвет */
  opacity: 0;
  transition: opacity .3s ease; /* Плавный переход для непрозрачности */
  border-radius: 110px;
}

&::before{
  transition: all .3s;
}

span{
  position: relative;
  z-index: 1;
}
}