//IMPORTS START

@import 'mixins';
$sf: "Druk Wide Cyr";

//IMPORTS END
//GLOBAL STYLES START
html,
body {
  font-family: "Onest", sans-serif;
  color: #fff;
  background: #000;

}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.btn {
  @include text-style (500, 16px, 110%, #fff);
  text-align: center;
  padding: 35px;
  background: linear-gradient(157deg, #086db6 0%, #449ad8 100%);
  border-radius: 110px;
  width: 100%;
  @include hover-color(linear-gradient(155deg, #348ecf 0%, #449ad8 100%));
}

.btn--black {
  @include text-style (500, 16px, 110%, #fff);
  border-radius: 110px;
  padding: 35px;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  position: relative;


  &::before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.17);
    background-image: url("../images/icons/btn-bg.svg");
    transition: all .3s;
    border-radius: 110px;
    width: 100%;

    height: 100vh;
    max-height: 87px;
    min-height: 43px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }

  &:hover {
    &::before {
      background-image: url("../images/icons/btn-bg-hover.svg");
    }
  }
}

.title {
  @include text-style (700, 46px, 154%, #fff);
  // @include text-gradient(linear-gradient(90deg, #999 0%, #fff 45.71%, #999 100%));

  font-family: $sf;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}


//GLOBAL STYLES END
//OVERLAY START

.overlay {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(36.13999938964844px);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: none;
}

.overlay--show {
  display: block;
  overflow: hidden;
}

.overlay__inner {
  width: 100%;
  height: 100vh;
  padding: 44px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay__row {
  margin-bottom: -30px;
}

.overlay__row-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay__logo {
  width: 88px;

}

.overlay__btn-x {}

.overlay__row-icon {}

.overlay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay__nav {}

.overlay__nav-list {}

.overlay__nav-item {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.overlay__nav-link,
.overlay__page-link {
  @include text-style (700, 22px, 135%, #fff);
  font-family: $sf;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
}

.overlay__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay__bottom-socials {}

.overlay__socials-list {
  display: flex;
  align-items: center;
}

.overlay__socials-item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.overlay__socials-link {

  &:first-child {
    img {
      width: 33px;
      height: 33px;
    }
  }

}

.overlay__socials-icon {}

.overlay__bottom-adress {
  margin-top: 10px;
}

.overlay__adress-title {
  @include text-style (500, 12px, normal, #fff);
  text-align: center;
}

.overlay__bottom-text {
  @include text-style (400, 12px, normal, rgba(255, 255, 255, 0.8));

}

//OVERLAY END


//HEADER START
//header__top start



.header {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background-image: url("../images/hero-bg.png");

    width: 1440px;
    height: 918px;
    display: block;
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
  }
}

.gallery__header {
  &::before {
    display: none;
  }
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.header__top-content {}

.header__nav {}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 838px;
  padding: 0px 20px;
  min-width: 300px;
}

.header__nav-item {}

.header__nav-item--logo {
  display: block !important;
}

.header__nav-item--mob {
  display: none;
}

.header__nav-link {
  @include text-style (300, 16px, 125%, #fff);
  transition: all .3s;
  position: relative;

  span {
    font-weight: 500;
  }



  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    // transform-origin: bottom right;
    transition: all .3s;

  }

  &:hover::after {
    transform: scaleX(1);
    // transform-origin: bottom left;
  }

  // &:hover {
  //   font-weight: 700;
  // }

}

.header__nav-link--burger {
  font-weight: 500;
}

.header__nav-create,
.header__page-link {
  @include text-style (300, 16px, 125%, #fff);
  transition: all .3s;

  span {
    font-weight: 700;
  }

  // &:hover {
  //   font-weight: 700;
  // }
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    // transform-origin: bottom right;
    transition: all .3s;

  }

  &:hover::after {
    transform: scaleX(1);
    // transform-origin: bottom left;
  }

}


.header__logo {}

.header__logo--mob {
  display: none;
  width: 88px;
  height: 28px;
}

.header__phone-icon {
  margin-top: 3px;
  margin-right: 5px;
}

//header__top end
//header__main start

.header__main {}

.header__main-inner {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 235px;
}

.header__main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__main-title {
  @include text-style (700, 56px, 127%, #fff);
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%));
  font-family: $sf;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  // max-width: 838px;
  margin-bottom: 25px;
}

.header__main-text {
  @include text-style (300, 25px, 125%, #e8e6e6);
  text-align: center;
  max-width: 590px;
  margin-bottom: 35px;
}

.header__main-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 584px;
  min-width: 300px;

}

.header__main-btn {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.header__main-btn--black {}

//header__main end
//header__bottom start

.header__bottom {}

.header__bottom-inner {
  padding-bottom: 150px;
}

.header__bottom-content {}

.header__cards-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__cards-item {
  padding: 30px 112px 147px 30px;
  backdrop-filter: blur(11px);
  background: linear-gradient(356deg, rgba(26, 25, 25, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(166deg, rgba(13, 20, 27, 0) 0%, #0d141b 100%), linear-gradient(215deg, rgba(9, 130, 240, 0) 0%, rgba(0, 148, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 20px;

  &:nth-child(1) {
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/hero-cards/hand.svg");
      background-repeat: no-repeat;
      width: 187px;
      height: 179px;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  &:nth-child(2) {
    position: relative;
    padding-right: 136px;

    &::before {
      content: "";
      background-image: url("../images/hero-cards/star.svg");
      background-repeat: no-repeat;
      width: 173px;
      height: 200px;
      display: block;
      position: absolute;
      bottom: -20px;
      right: 0px;
    }
  }

  &:nth-child(3) {
    position: relative;
    padding-right: 132px;

    &::before {
      content: "";
      background-image: url("../images/hero-cards/planet.svg");
      background-repeat: no-repeat;
      width: 143px;
      height: 175px;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  &:nth-child(4) {
    position: relative;
    padding-right: 27px;

    &::before {
      content: "";
      background-image: url("../images/hero-cards/person.svg");
      background-repeat: no-repeat;
      width: 194px;
      height: 202px;
      display: block;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

}

.header__card-text {
  @include text-style (300, 16px, 125%, rgba(255, 255, 255, 0.7));
  margin-bottom: 4px;
  white-space: nowrap;
}

.header__card-title {
  @include text-style (700, 26px, 127%, #fff);
  @include text-gradient(linear-gradient(90deg, #BEBEBE 0%, #fff 50.86%, #C2C2C2 100%));
  font-family: $sf;
  margin-bottom: 4px;
}

.header__card-subtitle {
  @include text-style (300, 16px, normal, rgba(255, 255, 255, 0.7));

}

//header__bottom end
//HEADER END

//MAIN START
.main {}


//create start

.create {}

.create__inner {
  padding-bottom: 150px;
}

.create__title {
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 45.71%, #999 100%));
  background-size: 500px;
  margin-bottom: 40px;
}

.create__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 42px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.create__content-item {

  &:nth-child(2) {
    .create__item-title {
      margin-bottom: 12px;
    }
  }

  &:nth-child(3) {
    .create__item-title {
      margin-bottom: 12px;
    }
  }
}

.create__item-wrapper {
  max-width: 361px;
  margin: 0 auto;
}

.create__content-img {
  width: 360px;
  border-radius: 20px;
  margin-bottom: -41px;
  position: relative;
  z-index: 2;
}

.create__item-descr {
  backdrop-filter: blur(11px);
  background: linear-gradient(356deg, #1a1919 0%, #000 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 32px;
  padding-top: 64px;
  max-width: 360px
}

.create__item-title {
  @include text-style (600, 25px, 125%, #fff);
  @include text-gradient(linear-gradient(90deg, #BEBEBE 0%, #fff 50.86%, #C2C2C2 100%));
  margin-bottom: 24px;

}

.create__item-text {
  @include text-style (300, 16px, 125%, rgba(255, 255, 255, 0.7));
  width: 100vw;
  max-width: 316px;
  min-width: 200px;
}

.create__btn-box {
  width: 100vw;
  max-width: 680px;
  min-width: 300px;
  margin: 0 auto;
}

.create__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    background-image: url("../images/icons/arrow-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 59px;
    height: 59px;
    display: block;
    position: absolute;
    right: 15px;
    z-index: 1;
  }

}

//create end
//advantages start

.advantages {
  .container {
    max-width: 1440px;
    padding: 0px;
  }
}

.container--second {
  max-width: 1160px !important;

}

.advantages__inner {
  padding-top: 76px;
  padding-bottom: 165px;
  z-index: 1;
  position: relative;

  &::before {
    content: "";
    background-image: url("../images/advantages/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 2048px;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
    border-radius: 30px;
  }
}

.advantages__title {
  max-width: 700px;
  margin-bottom: 36px;
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%));
  background-size: 700px;
}

.advantages__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  row-gap: 39px;
  margin-bottom: 40px;
}

.advantages__content-item {
  justify-self: center;
}

.advantages__item-wrapper {
  background: linear-gradient(356deg, rgba(26, 25, 25, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(166deg, rgba(13, 20, 27, 0) 0%, #0d141b 100%);
  backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 20px;
  padding: 25px;
  padding-right: 0px;
  width: 100vw;
  max-width: 360px;
  min-width: 250px;
  height: 206px;

}


.advantages__item-icon {
  margin-bottom: 15px;
}

.advantages__item-text {
  @include text-style (300, 20px, 125%, #e8e6e6);
  max-width: 270px;

  span {
    font-weight: 600;
  }
}

.advantages__item-img {
  width: 361px;
  height: 206px;
}

.advantages__btn-box {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.advantages__carousel {
  position: relative;

  &::before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 0px;
    display: block;
    position: absolute;
    left: 0;
    top: -35px;
  }

  &::after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 0px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -35px;
  }

  // padding: 35px 0px;
  // border-top: 1px solid rgba(255, 255, 255, 0.1);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.advantages__carousel-item {}

.advantages__carousel-img {}

.advantages__carousel-img--mobile {
  display: none !important;
}

//advantages end
//gallery start

.fancybox__thumbs {
  display: none !important;
}

.gallery__modal {
  display: none;
  /* Скрываем галереи по умолчанию */
}

[data-fancybox] {
  display: block;
  /* Убедитесь, что ссылки отображаются */
}

.gallery__content-item a.active+.gallery__modal {
  display: block;
  /* Показываем галерею, соответствующую активной карточке */
}

.gallery {}

.gallery__inner {
  position: relative;
  z-index: 1;
  padding-bottom: 150px;
}

.gallery__inner-page {
  margin-top: 150px;
  padding-top: 75px;
  margin-bottom: 100px;
  z-index: 45;
  position: relative;

  &::after {
    content: "";
    background-image: url("../images/advantages/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-width: 1440px;
    min-width: 250px;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -100;
    border-radius: 30px;
  }
}



.gallery__title {
  margin-bottom: 56px;
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%));
  background-size: 700px;
}

.gallery__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 24px;
}

.gallery__content-item {}



.gallery__item-link {

  .gallery__link-icon {
    transition: all .3s;
  }

  &:hover {
    .gallery__link-icon {
      transform: rotate(45deg);
    }
  }
}


.gallery__item-wrapper {
  max-width: 271px;
  position: relative;
}

.gallery__item-img {
  position: absolute;
  top: 0px;
  z-index: -1;

}

.gallery__item-descr {
  width: 100vw;
  max-width: 271px;
  min-width: 250px;
  height: 100vh;
  max-height: 261px;
  min-width: 250px;
  padding: 15px 30px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .gallery__link-icon {
    transition: all .3s;
  }

  &:hover {
    .gallery__link-icon {
      transform: rotate(45deg);
    }
  }
}

.gallery__item-date {
  @include text-style (500, 14px, normal, rgba(255, 255, 255, 0.7));
  position: relative;
  z-index: 1;
}

.gallery__item-link {
  @include text-style (500, 16px, normal, #fff);
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  max-width: 240px;
  min-width: 150px;



}

.gallery__link-icon {
  position: absolute;
  right: 0px;
}

.gallery__btn-box {
  max-width: 680px;
  margin: 0px auto;
  margin-top: 60px;
}

//gallery end
//trust start

.trust {}

.trust__inner {
  padding-bottom: 88px;
}

.trust__title {
  margin-bottom: 40px;
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%));
  background-size: 590px;
}

.trust__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
  row-gap: 40px;
}

.trust__content-item {}

.trust__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  backdrop-filter: blur(11px);
  background: linear-gradient(360deg, #000 0%, #1a1919 100%), linear-gradient(356deg, #1a1919 0%, #000 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 124px;
  max-width: 254px;
  margin: 0 auto;
}

.trust__item-img {}

//trust end
//MAIN END

//FOOTER START

.footer {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    background-image: url("../images/footer-bg.png");
    width: 1440px;
    height: 918px;
    display: block;
    position: absolute;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
  }
}

.footer__inner {}

.footer__content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 160px;
  width: 100vw;
  max-width: 1155px;
  min-width: 300px;
  margin-bottom: 136px;
}

.footer__contacts {
  display: flex;

  &::after {
    content: "";
    width: 1px;
    height: 477px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    margin-left: 78px;
    margin-top: -15px;
  }
}

.footer__contacts-descr {}

.footer__contacts-title {
  margin-bottom: 48px;
  @include text-gradient(linear-gradient(90deg, #999 0%, #fff 50.86%, #999 100%));
  background-size: 387px;
}

.footer__contacts-list {}

.footer__contacts-item {
  @include text-style (500, 16px, normal, #c5c5c5);
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 35px;


  span {
    @include text-style (500, 20px, normal, #fff);
  }



  &:nth-child(3) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  a {
    margin-top: 11px;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    // flex-direction: column;
    align-items: center;
  }
}



.footer__contacts-link {
  @include text-style (500, 20px, normal, #fff);
  margin-top: 11px;
}

.footer__social-item {
  transition: all .3s;

  &:hover {
    img {
      fill: #DEE0E3;
    }

  }


}


.footer__social-link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    svg {
      path {
        fill: #DEE0E3;
      }
    }
  }
}

.footer__social-icon {}

.footer__map {
  width: 100vw;
  max-width: 647px;
  min-width: 300px;
  height: 438px;
  padding: 0px 20px;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;

  }

}

.footer__row {
  width: 100vw;
  max-width: 1155px;
  min-width: 300px;
  padding-bottom: 66px;
}

.footer__row-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.footer__row-item {


  &:nth-child(2) {
    .footer__row-link {
      &::after {
        display: none;
      }
    }
  }
}



.footer__row-link {
  display: flex;
  align-items: center;
  transition: all .3s;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: scaleX(0);
    // transform-origin: bottom right;
    transition: all .3s;

  }

  &:hover::after {
    transform: scaleX(1);
    // transform-origin: bottom left;
  }
}

.footer__row-link--mobile {
  display: none;
}

.footer__row-icon {
  margin-left: 8px;
}

.adress--mobile {
  font-weight: 400 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  display: none;
}



//FOOTER END
//RESPONSIVE START

//1100px start

@media (max-width:1100px) {

  .header__cards-list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 15px;
  }

  .gallery__content {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    row-gap: 19px;
  }

  .gallery__content-link {
    display: flex;
    justify-content: center;
  }

  .advantages__inner {
    &::before {
      height: 2788px;
    }
  }

  .gallery__title {
    margin-bottom: 26px;
  }

  .trust__content {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .footer__content {
    padding-top: 0px;
  }

  //1100px end
}


//900px start
@media (max-width:900px) {
  .header__main-title {
    font-size: 46px;
  }

  .header__main-text {
    font-size: 21px;
  }

  .footer__contacts {
    &::after {
      margin-left: 30px;
    }
  }

  //900px end

}

//800px start
@media (max-width: 800px) {

  .title {
    text-align: center;
    font-size: 40px;
  }

  .create__content {
    display: flex;
    align-items: center;
    overflow-y: scroll;
    margin-left: 25px;
  }

  .create__content-item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }

  /* Стилизация всей полосы прокрутки */
  ::-webkit-scrollbar {
    // width: 2px; /* Ширина скролл бара */
  }

  ::-webkit-scrollbar-thumb {
    background: #666363;
    border-radius: 80px;
  }

  /* Стилизация области, по которой ползунок перемещается (track) */
  ::-webkit-scrollbar-track {
    border: 1px solid rgba(153, 153, 153, 0.2);
    border-radius: 80px;

  }

  /* Стилизация кнопок в начале и конце скролл бара (может быть скрыто) */
  ::-webkit-scrollbar-button {
    display: none;
    /* Скрыть кнопки */
  }

  .advantages__inner {
    &::before {
      height: 2765px;
    }
  }



  .footer__content {
    flex-direction: column;
  }

  .footer__contacts {
    width: 100%;

    &::after {
      display: none;
    }
  }

  .footer__contacts-title,
  .footer__social-item {
    display: none;
  }

  .footer__contacts-descr {
    width: 100%;
  }

  .footer__contacts-list {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }

  .footer__contacts-item {
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
    font-size: 16px;

    &:first-child {
      order: 2;
    }

    &:nth-child(2) {
      span {
        margin-top: 4px;
      }
    }

    a {
      margin-top: 4px;
      font-size: 16px;
    }
  }

  .hidden {
    display: none;
  }

  .adress--mobile {
    display: block;
    font-size: 14px !important;
    margin-top: 0px !important;
  }

  .footer__map {
    max-width: 790px;
    padding: 0px;
    padding-right: 20px;
  }

  .footer__row-link--hidden {
    display: none;
  }

  .footer__row-link--mobile {
    display: flex;
    flex-direction: column;

    &::after {
      display: none;
    }

    span {
      font-size: 14px;
    }

    img {
      width: 107px;
      margin-bottom: 25px;
    }
  }


  .footer__row-item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .footer__social-link {
      margin-right: 10px;
    }

  }

  .footer__item-title {
    @include text-style (500, 16px, 90%, rgba(255, 255, 255, 0.4));
    margin-bottom: 6px;

  }

  .footer__contacts-item--row {
    line-height: 90%;
  }

  .footer__nav-link {
    @include text-style (500, 14px, 90%, #fff);
    margin-bottom: 10px;



    &:last-child {
      margin-bottom: 0px;
    }
  }

  .footer__socials {
    margin-bottom: 15px;
  }

  .footer__row {
    padding-bottom: 46px;
  }

  .footer__row-list {
    padding-right: 35px;
    padding-left: 29px;
    min-width: 293px;
    align-items: start;
  }

  .footer__contacts-list {
    padding: 0px 30px;
  }

  .footer__mobile-mail {
    font-weight: 500;
    margin-bottom: 10px !important;
    line-height: 90%;

    span {
      margin-top: 4px;
    }
  }

  .footer__row-item {
    max-height: 120px;

    &:nth-child(2) {
      margin-right: 72px;
    }

    &:last-child {
      display: none;
    }
  }

  .footer {
    .container {
      padding: 0px;
    }
  }

  .footer__map {
    padding: 0px;

    iframe {
      border-radius: 0px;
    }
  }

  .footer__row-link--dev {
    margin-top: 14px;
    font-size: 14px !important;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  //800px end
}

//750px start
@media (max-width:750px) {
  .header__main-title {
    font-size: 26px;
    max-width: 370px;
  }

  .header__main-text {
    font-size: 16px;
    max-width: 381px;
  }

  .header__main-btn {
    padding: 20px;
    max-width: 210px;
  }

  .btn--black {
    &::before {
      height: 58px;
    }
  }

  .header__main-btns {
    padding: 0px 20px;
    justify-content: center;
  }

  .header__main-btn {
    &:first-child {
      margin-right: 6px;
    }
  }

  .header__nav-create,
  .header__nav-link {
    font-size: 14px;
  }

  .advantages__inner {
    padding-bottom: 60px;

    &::before {
      height: 3505px;
    }
  }

  //750px end
}

//610px start

@media (max-width:610px) {

  .header__nav-item,
  .header__nav-item--mail {
    display: none;
  }


  .header__nav-item--mob {
    transform: scale(1.45);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn--black {
      display: block;
      padding: 10px 12px;
      font-size: 9px;
      line-height: 110%;
      height: 30px;
      margin-left: 6px;

      &::before {
        height: 30px;
        min-height: auto;
      }
    }
  }

  .header__logo {
    display: none;
  }

  .header__logo--mob {
    display: block;
  }

  .header__cards-list {
    gap: 5px;
  }

  .header__cards-item {
    padding: 10px 15px 15px 10px;
    // width: 100vw;
    width: 100%;
    // max-width: 240px;
    // min-width: 148px;
    margin: 0 auto;
  }


  .header__card-text,
  .header__card-subtitle {
    font-size: 14px;
    max-width: 150px;
  }

  .header__card-text {
    margin-bottom: 1px;
  }

  .header__card-title {
    font-size: 18px;
    max-width: 150px;
    margin-bottom: 0px;
  }

  .header__cards-item:nth-child(1)::before {
    width: 67px;
    height: 60px;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
  }

  .header__cards-item:nth-child(2)::before {
    width: 48px;
    height: 50px;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
  }

  .header__cards-item:nth-child(3)::before {
    width: 43px;
    height: 51px;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
  }

  .header__cards-item:nth-child(4)::before {
    width: 52px;
    height: 56px;
    background-size: cover;
  }

  .gallery__content {
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);

  }

  .gallery__content-item {
    &:nth-child(5) {
      display: none;
    }

    &:nth-child(6) {
      display: none;
    }

    &:nth-child(7) {
      display: none;
    }

    &:nth-child(8) {
      display: none;
    }
  }


  .gallery__content-item--gallery {
    display: block !important;
  }

  .trust__content {
    row-gap: 5px;
    column-gap: 3px;
    max-width: 300px;
    margin: 0 auto;
  }

  .trust__inner {
    padding-bottom: 40px;
  }

  .trust__content-item {
    &:nth-child(1) {
      img {
        width: 118px;
        //  height: auto;
      }
    }

    &:nth-child(2) {
      img {
        width: 91px;
        //  height: auto;
      }
    }

    &:nth-child(3) {
      img {
        width: 70px;
        //  height: auto;
      }
    }

    &:nth-child(4) {
      img {
        width: 75px;
        //  height: auto;
      }
    }

    &:nth-child(5) {
      img {
        width: 80px;
        //  height: auto;
      }
    }

    &:nth-child(6) {
      img {
        width: 35px;
        //  height: auto;
      }
    }

    &:nth-child(7) {
      img {
        width: 24px;
        //  height: auto;
      }
    }

    &:nth-child(8) {
      img {
        width: 60px;
        //  height: auto;
      }
    }
  }

  .trust__item-wrapper {
    max-width: 150px;
    height: 77px;
  }

  .footer {
    &::before {
      background-image: url("../images/footer-bg-mob.png");
      height: 646px;
    }
  }

  .footer__map {
    height: 205px;
  }

  .footer__content {
    margin-bottom: 25px;
  }

  //610px end
}



//505px start
@media (max-width: 505px) {
  .header__main-title {
    font-size: 20px;
    letter-spacing: -0.06em;
  }

  .header__main-text {
    font-size: 12px;
    max-width: 290px;
  }


  .header {
    &::before {
      content: "";
      background-image: url("../images/hero-mob-bg2.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 551px;
      margin-top: 40px;
    }
  }

  .btn,
  .btn--black {
    font-size: 11px;
    padding: 17px 33px;
  }



  .btn--black {
    padding: 17px;

    &::before {
      height: 46px;
    }
  }

  .header__nav-item--mob {
    transform: scale(1);
  }

  .header__top-inner {
    padding-top: 34px;
  }


  .header__main-inner {
    padding-bottom: 223px;
    padding-top: 43px;
  }

  .header__main-title {
    margin-bottom: 17px;
  }

  .header__main-text {
    margin-bottom: 25px;
  }

  .header__bottom-inner {
    padding-bottom: 54px;
  }

  .header__cards-list {
    max-width: 300px;
    margin: 0 auto;
  }

  .header__cards-item {
    max-width: 150px;
    border-radius: 11px;

    &:nth-child(2) {
      padding-right: 0px;
    }

    &:nth-child(3) {
      padding-right: 0px;
    }

    &:nth-child(4) {
      &::before {

        bottom: -3px;
      }
    }
  }

  .header__card-text,
  .header__card-subtitle {
    font-size: 9px;
  }

  .header__card-title {
    font-size: 14px;
  }

  .header__main-btns {
    max-width: 244px;
  }

  .header__main-btn {
    font-size: 9px;

    &:first-child {
      max-width: 111px;
    }

    &:last-child {
      max-width: 127px;
      padding-top: 18px;
    }
  }

  .title {
    font-size: 18px;
  }

  .create__title {
    margin-bottom: 27px;
    background-size: contain;
  }

  .create {
    .create__btn-box {
      display: none;
    }
  }

  .create__inner {
    padding-bottom: 18px;
  }

  .create__item-title {
    font-size: 14px;
    margin-bottom: 11px;
  }

  .create__item-text {
    font-size: 10px;
    max-width: 192px;
  }

  .create__content-item {
    height: 237px;

  }

  .create__item-descr {
    max-width: 239px;
    height: 144px;
    padding: 51px 26px 16px 20px;
  }

  .create__content-img {
    width: 239px;
  }

  .advantages__inner {
    padding-top: 60px;
    margin: 0px 10px;


    &::before {
      background-image: url("../images/advantages/bg-mob.png");
      height: 1965px;
      background-position: center 0;
    }
  }

  .advantages__title {
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
    background-size: contain;
  }

  .advantages__content-item {
    width: 100%;
  }

  .advantages__item-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    margin: 0 auto;
  }

  .advantages__item-icon {
    order: 1;
  }

  .advantages__content {
    row-gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 18px;
  }

  .advantages__content-item {
    &:nth-child(3) {
      display: none;
    }

    &:nth-child(4) {
      display: none;
    }
  }

  .advantages__item-text {
    font-size: 11px;
    max-width: 182px;

  }

  .advantages__item-icon {
    width: 23px;
    height: 23px;
    margin-bottom: 0px;
  }

  .advantages__content-item {

    &:nth-child(5) {
      order: 6;
    }

    &:nth-child(6) {
      order: 5;

      .advantages__item-text {
        max-width: 194px;

      }
    }
  }

  .br--none {
    display: none;
  }

  .weight--mobile {
    font-weight: 600px;
  }

  .advantages__btn-box {
    max-width: 360px;
    margin-bottom: 60px;
  }

  .create__btn {
    &::before {
      width: 27px;
      height: 27px;
    }
  }

  .advantages__carousel {
    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }

  .gallery__title {
    background-size: contain;
  }

  .gallery__btn-box {
    max-width: 300px;
    margin-top: 20px;
  }

  .gallery__item-date {
    font-size: 11px;
  }

  .gallery__item-link {
    font-size: 12px;
  }

  .gallery__item-text {
    max-width: 180px;
  }

  .trust__title {
    margin-bottom: 26px;
    background-size: contain;
  }

  .footer__contacts-item {
    font-size: 8px;

    span {
      font-size: 11px !important;
    }

    a {
      font-size: 11px;
    }
  }


  .footer__item-title {
    font-size: 9px;
  }



  .footer__row-link--mobile {
    font-size: 9px;

    span {
      font-size: 11px !important;
    }


  }

  .footer__nav-link {
    font-size: 11px;
  }

  .footer__social-link {
    svg {
      width: 26px;
      height: 26px;
    }
  }

  .footer__row-link--dev {
    margin-top: 11px;
    font-size: 11px !important;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .footer__row-link {
    font-size: 8px;
  }

  .footer__row-item {
    margin-right: 20px;
    white-space: nowrap;

    &:nth-child(2) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0px;
    }
  }

  .gallery__inner {
    padding-bottom: 60px;
  }

  .gallery__inner-page {
    padding-top: 60px;

  }

  .advantages__carousel-img {
    display: none !important;
  }

  .advantages__carousel-img--mobile {
    display: block !important;
  }

  //505px end
}

//350px start
@media (max-width:350px) {
  .header__cards-item {
    max-width: 150px;
  }

  //350px end
}

//RESPONSIVE END